@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply flex flex-col h-full overflow-hidden;
  }

  body {
    @apply
    sm
    flex
    flex-1
    gap-y-3
    /* flex-col */
    text-base
    bg-no-repeat
    to-pink-200
    from-sky-400
    overflow-hidden
    ;

    background-size: 50rem 35rem, auto;
    background-position: calc(100vw - 30rem) calc(100vh - 30rem), 0 0;
    background-image: url(/clouds.webp), linear-gradient(to bottom right, var(--tw-gradient-stops));
  }

  main {
    @apply
    flex
    flex-1
    flex-col
    relative
    overflow-auto
    scroll-smooth
    ;
  }
  
  h1 {
    @apply container mx-auto px-12 text-xl text-sky-600;
  }
  
  button, button[type="submit"] {
    @apply
    px-3
    py-1
    w-28
    flex
    text-sm
    rounded
    relative
    items-center
    justify-center
    transition-all
    focus:shadow-lg
    active:enabled:shadow
    hover:enabled:shadow-lg
    focus-visible:outline-none
    bg-pink-400
    text-stone-100
    hover:bg-pink-500
    active:bg-pink-300
    disabled:bg-pink-300
    disabled:text-pink-200
    sm:w-36
    sm:text-base
    ;
  }

  button.secondary {
    @apply bg-sky-400;
  }
  
  input, textarea {
    @apply
    px-2
    py-1
    text-sm
    rounded
    resize-none
    border-none
    focus:ring-2
    focus:border-none
    focus:outline-none
    sm:text-base
    bg-stone-100
    text-gray-800
    focus:ring-pink-500
    ;
  }

  label {
    @apply flex flex-col flex-1 gap-1 text-pink-500 text-sm sm:text-base;
  }

  a[href] {
     @apply text-pink-500;
  }

  a[href]:hover {
    @apply underline;
 }
}

@layer components {
  .form-container {
    @apply
    px-6
    left-0
    right-0
    bottom-0
    absolute
    to-white
    bg-no-repeat
    from-transparent
    ;

    background-size: auto;
    background-position: 0 0;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  }

  form {
    @apply
    p-6
    z-10
    flex
    mt-5
    mb-10
    gap-3
    rounded
    mx-auto
    relative
    container
    shadow-lg
    bg-pink-200
    ;
  }

  form textarea {
    @apply flex-1;
  }

  .spinner {
    @apply animate-spin w-10 h-10;
  }

  .spinner.sm {
    @apply w-5 h-5;
  }

  .loading-mask {
    @apply
    flex
    top-0
    left-0
    right-0
    bottom-0
    absolute
    items-center
    bg-transparent
    justify-center
    ;
  }

  .loading-mask .spinner {
    @apply fill-stone-100 text-slate-400;
  }

  .messages {
    @apply
    flex
    px-6
    pt-6
    gap-6
    pb-12
    mb-12
    flex-1
    mx-auto
    flex-col
    container
    ;
  }

  .message {
    @apply
    px-6
    py-4
    flex-1
    rounded
    relative
    shadow
    bg-slate-50
    text-neutral-500
    ;
  }

  .message.user {
    @apply mr-48 bg-blue-100;
  }

  .message.assistant {
    @apply ml-48 bg-green-100;
  }

  .message .info {
    @apply flex justify-between text-sm text-neutral-400 mt-2;
  }

  .message pre {
    @apply !bg-transparent;
  }

  .timer {
    @apply ml-3 text-sm font-semibold text-pink-400;
  }

  /* .menu {
    @apply absolute h-full shadow z-20 bg-white p-3 flex flex-col gap-6;
  } */

  .menu {
    @apply bg-white p-3 flex flex-col gap-6;
  }

  .controls {
    @apply flex gap-3;
  }

  .threads {
    @apply flex flex-col gap-3;
  }

  .threads li {
    @apply flex items-center gap-2;
  }

  .threads li a {
    @apply text-slate-800;
  }

  footer {
    @apply
    px-7
    flex
    mb-2
    mx-auto
    text-sm
    relative
    container
    text-sky-400
    justify-between
    ;
  }

  .markdown-body {
    background-color: transparent !important;
  }

  .markdown-body pre > div {
    padding: 12px 16px !important;
  }
}
